:root {
  --c-primary: hsl(337, 86%, 46%);
  --c-primary-lighter: hsl(337, 86%, 61%);
  --c-secondary: hsl(240, 22%, 35%);
  --c-headline: hsl(240, 13%, 58%);
  --c-text: hsl(240, 22%, 35%);
  --c-link: var(--c-primary);
  --c-footer: hsl(240, 22%, 35%);
  --c-text-footer: hsl(240, 25%, 79%);
  --c-link-footer: hsl(337, 86%, 66%);}